{% extends 'core/contacts.html'%}

{% block content %}
    <div style = 'display: flex; max-width: 1440px; justify-content: space-between; ' class = 'mx-auto my-5'>
        <div style = 'width: 80%'>
            <iframe src={{contacts.map}} width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div style = 'display: flex; align-items: center; width: 80%'>
            <ul class = 'fs-2' style = 'list-style: none'>
                <li class = 'pb-4'>Name: {{contacts.name}}</li>
                <li class = 'pb-4'>Address: {{contacts.address}}</li>
                <li class = 'pb-4'>Email: {{contacts.email}}</li>
                <li class = 'pb-4'>Phone: {{contacts.phone_number}}</li>
            </ul>
        </div> 
    </div>
{% endblock %}

{% block category_blog %} 
    <h1>Category</h1>
    <div class="row row-cols-5 g-3">
        {% for article in articles %}
            <div class="col">
                {{article.category}}
            </div>
        {% endfor %}
    </div>
{% endblock %}