{% extends 'core/base.html'%}

{% block title %} Home {% endblock %}

{% block content %}
    <h1>Home</h1>
    <div class="row row-cols-3 g-3">

        {% for article in articles %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.content_preview}}</p>
                    <a href="{% url 'details' article.slug %}" class="card-link">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        <div class="row row-cols-2 g-3">
            <div class="col">
                <h2>Теги</h2>
                <ul>
                  {% for tag in tags %}
                      <li>
                          {{tag.name}}
                      </li>
                  {% endfor %}
                </ul>  
            </div>
            <div class="col">
                <h2>Категории</h2>
                <ul>
                  {% for article in articles %}
                      <li>
                          {{article.category}}
                      </li>
                  {% endfor %}
                </ul>  
          </div>
        </div>
    </div>

{% endblock %}


