{%load static%}

<div class="row display-flex align-items-center px-4 py-3 mt-5 text-center bg-body-tertiary rounded-3">
        
    <div class= 'col-4 display-flex align-items-center text-center'><img class="d-block mx-auto mb-4 rounded" src="{% static 'img/hero_main.jpg' %}" alt="" width='100%' > </div>
    <div class = 'col-8'>
      <h2 class="display-3 fw-bold text-body-emphasis">Ласкаво просимо до PyStore - блогу про Python та магазину товарів</h2>

      <div class="mx-auto">
        <p class="lead mb-1">!!!!!!Вітаємо вас на PyStore - джерелі інформації про Python, а також місці, де ви можете знайти широкий асортимент товарів. Наш блог присвячений Python-програмуванню, де ви знайдете корисні поради, новітні тенденції, кращі практики та багато іншого. Будьте в курсі останніх новин у світі Python та розширюйте свої знання разом з нами.</p>
        <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div> -->
      </div>  
    
    </div>
   
  </div>