{% extends 'core/base.html' %}



{% block content_shop %}

<nav aria-label="breadcrumb" class='mt-4'>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>

<div class="row my-2 gap-3">

  <div class="col bg-body-tertiary rounded-3 p-4">
    {% for image in product.images.all %}
      <img src="{{ image.image_thumbnail.url }}" alt="" class='img-fluid'>
      <br>
    {% endfor %}
    {{ product.name }}<br>
    {{ product.price }}<br>
    {{ product.description|safe }}<br>
  </div>
</div>



</div>
{% endblock %}